.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
.chart {
    padding: 3px;

    background: #eee;
}

.chart div {
    width: 0;

    -webkit-transition: all 1s ease-out;
       -moz-transition: all 1s ease-out;
            transition: all 1s ease-out;
}

.chart div {
    padding: 3px;
    margin: 5px;

    font: 10px sans-serif;

    text-align: right;

    color: white;
    background-color: steelblue;
    box-shadow: 2px 2px 2px #666;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
}
